DB_USER=root
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cine

JWT_SECRET=bruma-cinema-jwt-secret-demo-2026-ok

PAYU_API_LOGIN=pRRXKOl8ikMmt9u
PAYU_API_KEY=4Vj8eK4rloUd272L48hsrarnUA
PAYU_MERCHANT_ID=508029
PAYU_ACCOUNT_ID=512323
PAYU_TEST=true

PREMIERES_URL=http://127.0.0.1:3001
CANDY_URL=http://127.0.0.1:3002
COMPLETE_URL=http://127.0.0.1:8081

GOOGLE_CLIENT_ID=el-client-id-de-tu-proyecto-google
